 body {
    font-size:1rem;
    font-family:'Raleway',sans-serif;
    min-height:100vh;
    line-height:1.4;

}

*,*::before,*::after{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

    /*---------NAVIGATION--------+*/

nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  margin:10px;
}


nav img{
  width:25%;
}


.mynav{
  display:flex;
  justify-content: center;
  align-items: center;
}

ul li {
 display:block;
 list-style-type:none;
 padding:8px;
}


ul li a{
  text-decoration:none;
  font-size:0.8rem;
  color:hsl(243, 87%, 12%);
}

 /*---------HEADER SECTION-----------*/

.header{
  margin-top:35px;
  text-align: center;
  padding:16px;
}

.header img{
  width:100%;
}

.header h1{
  margin-top:40px;
  color:hsl(243, 87%, 12%);
}

.header p{
  padding:15px;
  margin-top:15px;
  font-size:0.9rem;
  color:hsl(243, 87%, 12%);
}

.header form{
  margin:10px;
  margin-top:25px!important;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:15px;
}

input[type="email"],.btn{
  display:block;
  width:100%;
  padding:10px;
  border-radius:5px;
  outline:none;
  font-weight:150;
  border:1px solid hsl(243, 87%, 12%);
}

.btn{
  text-decoration: none;
  background:hsl(224, 93%, 58%);
  border: none;
  color:#fff;
  font-weight:500;
}

.btn:hover{
background:hsl(243, 87%, 12%);
}


  /*--------ABOUT SECTION----------*/
  
.about{
  background-image:url(bg-curve-mobile.svg);
  background-color:hsl(240, 75%, 98%);
 background-repeat:no-repeat;
 padding:15px;
 margin-top:50px!important;
 color:hsl(243, 87%, 12%);
 display:flex;
 flex-direction:column;
}

.about img{
  margin-top:30px;
  width:100%;
}
 
.about h3{
  margin:70px 0 25px 0;
  text-align: center;
}

.about p{
  font-size:0.9rem;
  font-weight:400;
  margin:10px;
}

.show{
  position:relative;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.show h4{
  font-size:15px;
  font-weight:400;
  color:hsl(170, 45%, 43%);
}

.show img{
  margin-bottom:24px;
  margin-left:5px;
  display:inline-block;
  width:24px;
}

 .show::after{
  content: '';
  position: absolute;
  display:block;
  background:hsl(170, 45%, 43%);
  width:50%;
  height:1px;
  margin:auto;
  margin-top:30px!important;
}

  /*-------testimonials----------*/

.testimonial{
  background:#fff;
  height:210px;
  width:280px;
  margin:20px auto;
  margin-bottom:60px!important;
  padding-left:15px;
  box-shadow:0px 0px 5px #fff;
  display:flex;
  flex-direction:column;
}

.testimonial img{
  margin-left:15px;
  width:20px;
}

.testimonial p{
  font-size: 0.7rem;
}

.user{
  display:flex;
  align-items: center;
}

.user img{
  width:30px;
  border-radius:50%;
}

.user h5{
  font-size:0.8rem;
}

.user .profile{
  padding:0 3px 7px 5px;
  margin-top: auto;
}

h5 span{
  display:block;
  font-size:0.7rem;
  font-weight:400;
}


  /*---------CALL TO ACTION---------*/

.cta{
  color:#fff;
  text-align: center;
  padding:35px;
  background:hsl(238, 22%, 44%);
  display:flex;
  flex-direction: column;
}

.cta h4{
  margin:15px;
  font-size:1.1rem;
}

.cta p{
  font-size:0.9rem;
  padding:10px;
}

.cta form{
  margin:10px;
  margin-top:15px!important;
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}

.cta-btn ,.cta input[type='email']{
  width:90%;
  font-size:0.7rem;
  border-radius:3px;
}

.cta input[type='email']{
  border:none;
}


    /*-----------FOOTER----------*/

footer{
  padding-left:40px;
  color:#fff;
  background:hsl(243, 87%, 12%);
  padding:15px;
}

footer .main{
  position: relative;
  width:60%;
  margin-top:30px;
  margin-left:25px;
  filter:brightness(0) invert(1);
}

.reach{
  display:flex;
  margin:25px;
  
}

.reach img{
  width:20px;
  margin-right:20px;
}

footer .mylist{
  display:flex;
  flex-direction: column;
  gap:40px;
}

.mylist{
  margin-top:40px;
  margin-left:25px;
}

footer ul li{
  padding:8px;
}

footer ul li a {
  font-size:1rem;
  color:#fff;
}

footer .icons{
  display:flex;
  justify-content: center;
  color:#fff;
  margin-top:40px;
  
}

.icons .fab{
  padding:7px;
  margin:8px;
  border:1px solid #fff;
  border-radius:50%;
  cursor:pointer;
}

.icons .fab:hover{
  color:hsl(224, 93%, 58%);
  transition:0.5s;
}

footer .creator{
  margin-top:25px;
  text-align: center;
  font-size:1rem;
  color:#fff;
}

.creator a{
  text-decoration:none;
  color:cyan;
  cursor: pointer;
}

.creator a:hover{
  text-decoration: underline;
}
